@charset "UTF-8";
/* CSS LA CHICHA FILMS - JERSSON ANASTACIO */
/* ----------------------------------------- */
/* IMPORTAMOS LAS FUENTES DE GOOGLE */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
/* ELIMINAMOS LOS MÁRGENES DEL NAVEGADOR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* APLICAMOS A TODO EL BODY LA FUENTE */
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh; }

/* EL FOOTER ESTARÁ SIEMPRE ABAJO */
footer {
  margin-top: auto; }

/* BORRAMOS EL SUBRAYADO DE LOS LINKS */
a {
  text-decoration: none;
  color: #ffffff; }

/* GRILLA DEL BODY */
#chicha_grilla_body {
  display: grid;
  grid-template-columns: 100%;
  /* 1 SOLA COLUMNA QUE ABARCA EL 100% DEL BODY */
  grid-template-rows: auto 1fr auto;
  /* DEFINIMOS LAS FILAS: HACEMOS QUE EL HEADER SE POSICIONE AUTOMATICAMENTE ARRIBA DEL BODY, EL MAIN TIENE 1 FRACCION DEL BODY, Y EL FOOTER SE POSICIONARÁ AUTOMATICAMENTE AL FINAL DEL BODY */
  grid-template-areas: "area_chicha_header" "area_chicha_main" "area_chicha_footer"; }

/* ----------------------------------------- */
/* INICIO DEL CSS DEL HEADER */
/* HEADER BOOTSTRAP */
.container-fluid {
  width: 97%; }
  .container-fluid img {
    /* APLICA AL TAMAÑO DEL LOGO DEL HEADER */
    width: auto;
    height: auto;
    max-width: 183px;
    max-height: 80px; }
  .container-fluid .navbar-toggler .fa-solid, .container-fluid .fas {
    color: #cb2459;
    font-size: 30px; }

.navbar {
  padding-top: 25px;
  --bs-navbar-padding-x: 1.5rem;
  --bs-navbar-padding-y: 1.5rem;
  border-bottom: 3px solid #cb2459;
  /* BORDE INFERIOR DEL HEADER */ }
  .navbar .navbar-nav {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .navbar .nav-item {
    padding: 0px 10px; }
  .navbar .nav-link {
    font-size: 20px; }
    .navbar .nav-link:hover {
      color: #cb2459; }

.dropdown-item:hover {
  background: #cb2459;
  color: white; }

.chicha_redes_header {
  display: flex;
  justify-content: center; }
  .chicha_redes_header a {
    padding: 10px; }
    .chicha_redes_header a:hover {
      color: #cb2459; }

/* FIN DEL CSS DEL HEADER */
/* INICIO DEL CSS DE LA PÁGINA DEL INDEX */
.chicha_main_index {
  display: grid;
  grid-area: area_chicha_main;
  grid-template-rows: auto auto auto auto;
  /* 2730px ES EL 88% DEL MAIN */
  grid-template-areas: "area_main_index_video" "area_main_index_titulo" "area_main_index_descripcion" "area_main_index_mision";
  justify-content: center;
  align-items: center;
  background-color: #ffffff; }

.chicha_video_main {
  /* APLICA AL VIDEO DE INICIO */
  display: flex;
  /* MOSTRAMOS EL VIDEO DE UNA MANERA FLEXIBLE AL CONTENEDOR */
  justify-content: space-around;
  /* AJUSTAMOS EL VIDEO CON IGUALDAD DE ESPACIADO */
  align-items: center;
  /* ALINEACIÓN CENTRADA DEL VIDEO */ }
  .chicha_video_main video {
    /* APLICA PARA QUE EL VIDEO SE EXTIENDA EN TODA LA PANTALLA */
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%; }

.chicha_main_index_elements {
  /* APLICA AL MAIN DEL INDEX */
  display: grid;
  background-color: white;
  /* COLOR DE FONDO DEL MAIN INDEX */
  align-self: center;
  justify-self: center;
  text-align: center;
  /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
  padding-top: 20px;
  /* RELLENO SUPERIOR */ }
  .chicha_main_index_elements a {
    /* APLICA AL BOTON DE VER REEL */
    color: black;
    /* COLOR */
    font-size: 20px;
    /* TAMAÑO DE FUENTE DE LOS LINKS */ }
  .chicha_main_index_elements .chicha_titulo h1 {
    /* APLICA AL H1 DEL MAIN INDEX */
    color: black;
    /* COLOR */
    font-size: 45px;
    /* TAMAÑO DE FUENTE */ }
  .chicha_main_index_elements .chicha_subtitulo {
    /* APLICA AL CONTENEDOR DE LA CLASE CHICHA_SUBTITULO */
    color: black;
    /* COLOR */
    display: flex;
    /* MOSTRAMOS DE UNA MANERA FLEXIBLE AL CONTENEDOR */
    justify-content: center;
    /* JUSTIFICAMOS EL CONTENIDO EN EL CENTRO */
    align-items: center;
    /* ALINEACIÓN CENTRADA DE ELEMENTOS */
    text-align: center;
    /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
    font-size: 20px;
    /* TAMAÑO DE FUENTE */
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 10px;
    /* ESPACIADO ENTRE CONTENEDORES */ }
    .chicha_main_index_elements .chicha_subtitulo img {
      /* APLICA A LAS IMAGENES DE ESTRELLAS DEL SUBTITULO */
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 25px;
      max-height: 25px; }
    .chicha_main_index_elements .chicha_subtitulo h2 {
      /* APLICA A LAS IMAGENES DE ESTRELLAS DEL SUBTITULO */
      margin-bottom: 0rem; }
  .chicha_main_index_elements .chicha_boton_video_icon {
    padding-bottom: 1rem; }
  .chicha_main_index_elements .chicha_boton_video_text {
    padding-bottom: 1rem;
    border-bottom: 1px solid #000000;
    /* BORDE INFERIOR DEL MAIN INDEX */ }

.chicha_info_main {
  /* APLICA A LA INFORMACION SECUNDARIA DEL MAIN */
  display: flex;
  /* MOSTRAMOS DE UNA MANERA FLEXIBLE AL CONTENEDOR */
  justify-content: space-around;
  /* AJUSTAMOS EL VIDEO CON IGUALDAD DE ESPACIADO */
  justify-self: center;
  align-items: center;
  /* ALINEACIÓN CENTRADA DE LOS ELEMENTOS */
  text-align: center;
  /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
  /*flex-wrap: wrap; ESTO ES PARA EL MEDIA CUERY*/
  background-color: white;
  /* COLOR DE FONDO */
  gap: 50px;
  /* ESPACIADO ENTRE CONTENEDORES */
  padding: 3rem 3rem;
  /* RELLENO PARA SEPARACIÓN */ }
  .chicha_info_main .chicha_info_main_text {
    width: 50%; }
  .chicha_info_main .chicha_bienvenidos {
    /* APLICA AL PÁRRAFO BIENVENIDOS */
    font-size: 30px;
    /* TAMAÑO DE FUENTE */ }
  .chicha_info_main .chicha_descripcion {
    /* APLICA AL PÁRRAFO DESCRIPCIÓN */
    font-size: large;
    /* TAMAÑO DE FUENTE */ }
  .chicha_info_main .chicha_info_main_carrusel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .chicha_info_main .chicha_info_main_carrusel img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%; }

.chicha_mision_vision {
  /* APLICA A LA SECCIÓN DE MISION Y VISION */
  background-color: white;
  /* COLOR DE FONDO */
  display: flex;
  /* MOSTRAMOS DE UNA MANERA FLEXIBLE AL CONTENEDOR */
  flex-direction: column;
  /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
  justify-content: center;
  /* JUSTIFICAMOS EL CONTENIDO EN EL CENTRO */
  align-items: center;
  /* ALINEACIÓN CENTRADA DE LOS ELEMENTOS */
  text-align: center;
  /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
  font-size: large;
  /* TAMAÑO DE FUENTE */
  padding: 2rem 5rem;
  /* RELLENO PARA SEPARACIÓN */
  padding-bottom: 3rem;
  border-top: 1px solid #000000;
  /* BORDE SUPERIOR */ }
  .chicha_mision_vision p {
    /* APLICA A LOS PARRAFOS DE LA SECCIÓN DE MISION Y VISION */
    font-size: 30px;
    /* TAMAÑO DE FUENTE */
    line-height: 100px;
    /* SEPARACION DE LINEAS DE PARRAFOS */ }

/* ----------------------------------------- */
/* MEDIA QUERY 992 PX PAGINA INICIO */
@media only screen and (max-width: 992px) {
  .chicha_info_main {
    width: 100%;
    flex-direction: column;
    /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
    gap: 1rem;
    /* ESPACIADO ENTRE CONTENEDORES */ }
    .chicha_info_main .chicha_info_main_text {
      width: 100%; } }

/* ----------------------------------------- */
/* MEDIA QUERY 768 PX PAGINA INICIO */
@media only screen and (max-width: 768px) {
  .chicha_main_index_elements .chicha_titulo h1 {
    font-size: 40px; }
  .chicha_main_index_elements .chicha_subtitulo img {
    max-width: 20px;
    max-height: 20px; }
  .chicha_info_main {
    width: 100%;
    flex-direction: column;
    /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
    padding: 2rem 1rem; }
  .chicha_boton_video_icon .fa-4x {
    font-size: 3em; }
  .chicha_mision_vision {
    /* APLICA A LA SECCIÓN DE MISION Y VISION */
    padding: 2rem 2rem;
    /* RELLENO PARA SEPARACIÓN */ } }

/* ----------------------------------------- */
/* FIN DEL CSS DE LA PÁGINA DE INICIO */
/* INICIO DEL CSS DE LA PÁGINA NOSOTROS */
.chicha_main_nosotros {
  display: grid;
  grid-area: area_chicha_main;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "area_main_nosotros_logo" "area_main_nosotros_titulo" "area_main_nosotros_descripcion" "area_main_nosotros_titulo_equipo" "area_main_nosotros_equipo";
  justify-content: center;
  align-items: center;
  background-color: #ffffff; }

.chicha_logo_pagina_nosotros {
  display: flex;
  flex-direction: column;
  /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #000000; }
  .chicha_logo_pagina_nosotros .chicha_logo_color_nosotros {
    width: 100%;
    display: flex;
    justify-content: center; }
    .chicha_logo_pagina_nosotros .chicha_logo_color_nosotros img {
      width: auto;
      height: auto;
      max-width: 40%;
      max-height: 40%; }
  .chicha_logo_pagina_nosotros .chicha_subtitulo {
    /* APLICA AL CONTENEDOR DE LA CLASE CHICHA_SUBTITULO */
    color: black;
    /* COLOR */
    display: flex;
    /* MOSTRAMOS DE UNA MANERA FLEXIBLE AL CONTENEDOR */
    justify-content: center;
    /* JUSTIFICAMOS EL CONTENIDO EN EL CENTRO */
    align-items: center;
    /* ALINEACIÓN CENTRADA DE ELEMENTOS */
    text-align: center;
    /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
    font-size: 20px;
    /* TAMAÑO DE FUENTE */
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 10px;
    /* ESPACIADO ENTRE CONTENEDORES */ }
    .chicha_logo_pagina_nosotros .chicha_subtitulo img {
      /* APLICA A LAS IMAGENES DE ESTRELLAS DEL SUBTITULO */
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 25px;
      max-height: 25px; }
    .chicha_logo_pagina_nosotros .chicha_subtitulo h2 {
      /* APLICA A LAS IMAGENES DE ESTRELLAS DEL SUBTITULO */
      margin-bottom: 0rem; }

.chicha_quienes_somos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .chicha_quienes_somos h1 {
    font-size: 40px;
    font-weight: bolder; }

.chicha_info_page_nosotros {
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-self: center;
  align-items: center;
  text-align: center;
  background-color: white;
  gap: 3rem;
  padding: 2rem 2rem; }
  .chicha_info_page_nosotros .chicha_info_page_nosotros_descripcion {
    grid-area: area_main_nosotros_descripcion;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0rem 1rem; }
    .chicha_info_page_nosotros .chicha_info_page_nosotros_descripcion p {
      font-size: calc(0.5px + 1vw);
      line-height: calc(15px + 1vw); }
  .chicha_info_page_nosotros .chicha_info_main_carrusel_nosotros {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .chicha_info_page_nosotros .chicha_info_main_carrusel_nosotros img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%; }

.chicha_nuestro_equipo {
  width: 70%;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  padding-top: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000000; }
  .chicha_nuestro_equipo h2 {
    font-weight: bold; }

.chicha_avatar_container {
  display: grid;
  grid-area: area_main_nosotros_equipo;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-areas: "cargo1 cargo2 cargo3 cargo4" "cargo5 cargo6 cargo7 cargo8";
  justify-content: center;
  gap: 3rem;
  /* ESPACIADO ENTRE CONTENEDORES */
  padding: 4rem 0rem;
  line-height: 25px; }
  .chicha_avatar_container .card {
    width: auto;
    max-width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    justify-self: center;
    padding: 0rem 1rem; }
    .chicha_avatar_container .card .card-img-top {
      padding-top: 1rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem; }

.card-title {
  font-size: calc(10px + .9vw); }

/* ----------------------------------------- */
/* MEDIA QUERY 1400 PX PAGINA NOSOTROS */
@media only screen and (max-width: 1400px) {
  .chicha_info_page_nosotros .chicha_info_page_nosotros_descripcion p {
    font-size: calc(5px + 1vw);
    line-height: calc(10px + 1vw); }
  .chicha_avatar_container .card {
    padding: 0rem 0rem; } }

/* ----------------------------------------- */
/* MEDIA QUERY 991 PX PAGINA NOSOTROS */
@media only screen and (max-width: 991px) {
  .chicha_logo_pagina_nosotros .chicha_logo_color_nosotros img {
    max-width: 50%;
    max-height: 50%; }
  .chicha_quienes_somos {
    padding-bottom: 1rem; }
  .chicha_info_page_nosotros {
    width: 100%;
    flex-direction: column;
    /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
    gap: 1rem;
    /* ESPACIADO ENTRE CONTENEDORES */
    padding: 1rem 0rem; }
    .chicha_info_page_nosotros .chicha_info_page_nosotros_descripcion p {
      font-size: 18px;
      line-height: 25px; } }

/* ----------------------------------------- */
/* MEDIA QUERY 768 PX PAGINA NOSOTROS */
@media only screen and (max-width: 768px) {
  .chicha_logo_pagina_nosotros .chicha_logo_color_nosotros img {
    max-width: 60%;
    max-height: 60%; }
  .chicha_logo_pagina_nosotros .chicha_subtitulo img {
    max-width: 20px;
    max-height: 20px; }
  .chicha_quienes_somos h1 {
    font-size: 35px; }
  .chicha_avatar_container {
    width: auto;
    height: auto;
    grid-template-columns: 40% 40%;
    grid-template-areas: "cargo1 cargo2" "cargo3 cargo4" "cargo5 cargo6" "cargo7 cargo8";
    justify-self: center;
    align-content: center;
    padding: 3rem 0rem;
    gap: 2rem 2rem;
    /* ESPACIADO ENTRE CONTENEDORES */ }
    .chicha_avatar_container .card {
      padding: 0.5rem 0.5rem; }
      .chicha_avatar_container .card p {
        font-size: 15px;
        line-height: 15px; }
  .card-title {
    font-size: calc(15px + .9vw); }
  .chicha_info_page_nosotros .chicha_info_page_nosotros_descripcion {
    width: 90%; }
  .chicha_info_page_nosotros .chicha_info_main_carrusel_nosotros {
    width: 90%;
    height: 90%; } }

/* ----------------------------------------- */
/* MEDIA QUERY 576 PX PAGINA NOSOTROS */
@media only screen and (max-width: 576px) {
  .chicha_logo_pagina_nosotros .chicha_logo_color_nosotros img {
    max-width: 65%;
    max-height: 65%; } }

/* ----------------------------------------- */
/* FIN DEL CSS DE LA PÁGINA NOSOTROS */
/* INICIO DEL CSS DE LA PÁGINA SERVICIOS */
.chicha_main_servicios {
  display: grid;
  grid-area: area_chicha_main;
  grid-template-rows: auto auto auto;
  grid-template-areas: "area_main_servicios_titulo" "area_main_servicios_descripcion" "area_main_servicios_elements";
  justify-content: center;
  align-items: center;
  background-color: #ffffff; }

.chicha_title_page_servicios {
  display: flex;
  flex-direction: column;
  /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000000; }
  .chicha_title_page_servicios h1 {
    color: black;
    /* COLOR */
    font-size: 45px;
    /* TAMAÑO DE FUENTE */ }
  .chicha_title_page_servicios h2 {
    color: black;
    /* COLOR */
    font-size: 20px;
    /* TAMAÑO DE FUENTE */ }

.chicha_subtitle_page_servicios {
  width: 70%;
  grid-area: area_main_servicios_descripcion;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: 25px;
  padding-top: 1.5rem;
  padding-bottom: 1rem; }
  .chicha_subtitle_page_servicios p {
    color: black;
    font-size: 20px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%; }

.chicha_info_page_servicios_container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 2rem 0rem; }
  .chicha_info_page_servicios_container .chicha_info_page_servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    /* ESPACIADO ENTRE CONTENEDORES */
    padding-top: 3rem;
    padding-bottom: 3rem; }
    .chicha_info_page_servicios_container .chicha_info_page_servicios h2 {
      padding-bottom: 15px; }
    .chicha_info_page_servicios_container .chicha_info_page_servicios .chicha_info_page_servicios_name {
      max-width: 50%;
      max-height: 50%; }
      .chicha_info_page_servicios_container .chicha_info_page_servicios .chicha_info_page_servicios_name p {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%; }
    .chicha_info_page_servicios_container .chicha_info_page_servicios .chicha_video_services {
      width: 70%;
      height: 70%; }
      .chicha_info_page_servicios_container .chicha_info_page_servicios .chicha_video_services video {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%; }

/* ----------------------------------------- */
/* MEDIA QUERY 600 PX PAGINA SERVICIOS */
@media only screen and (max-width: 600px) {
  .chicha_title_page_servicios {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .chicha_subtitle_page_servicios {
    padding-top: 2rem; }
  .chicha_info_page_servicios_container .chicha_info_page_servicios {
    flex-direction: column;
    /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
    flex-wrap: wrap;
    gap: 1rem;
    /* ESPACIADO ENTRE CONTENEDORES */
    padding: 1rem; }
    .chicha_info_page_servicios_container .chicha_info_page_servicios .chicha_info_page_servicios_name {
      max-width: 100%;
      max-height: 100%; }
    .chicha_info_page_servicios_container .chicha_info_page_servicios .chicha_video_services {
      width: 100%;
      height: 100%; } }

/* ----------------------------------------- */
/* FIN DEL CSS DE LA PÁGINA SERVICIOS */
/* INICIO DEL CSS DE LA PÁGINA PORTAFOLIO */
.chicha_main_portafolio {
  display: grid;
  grid-area: area_chicha_main;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "area_main_portafolio_titulo" "area_main_portafolio_descripcion" "area_main_portafolio_subtitle" "area_main_portafolio_elements";
  justify-content: center;
  align-items: center;
  background-color: #ffffff; }

.chicha_title_page_portafolio {
  display: flex;
  flex-direction: column;
  /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000000; }
  .chicha_title_page_portafolio h1 {
    color: black;
    /* COLOR */
    font-size: 45px;
    /* TAMAÑO DE FUENTE */ }
  .chicha_title_page_portafolio h2 {
    color: black;
    /* COLOR */
    font-size: 20px;
    /* TAMAÑO DE FUENTE */ }

.chicha_descripcion_page_servicios {
  width: 70%;
  grid-area: area_main_portafolio_descripcion;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  text-align: center;
  font-size: 25px;
  padding: 2rem 0rem; }
  .chicha_descripcion_page_servicios p {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    color: black;
    /* COLOR */
    font-size: 20px;
    /* TAMAÑO DE FUENTE */
    padding-top: 2rem; }

.chicha_subtitle_page_portafolio {
  color: black;
  /* COLOR */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  /* TAMAÑO DE FUENTE */
  padding-top: 2rem;
  padding-bottom: 2rem; }

.chicha_iframe_vimeo {
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 5rem;
  gap: 5rem 1rem;
  /* ESPACIADO ENTRE CONTENEDORES */ }

/* ----------------------------------------- */
/* MEDIA QUERY 600 PX PAGINA PORTAFOLIO */
@media only screen and (max-width: 600px) {
  .chicha_title_page_portafolio {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .chicha_descripcion_page_servicios {
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 1rem; }
  .chicha_iframe_vimeo {
    flex-direction: column;
    /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
    gap: 2rem;
    /* ESPACIADO ENTRE CONTENEDORES */
    padding-top: 2rem;
    padding-bottom: 4rem; }
    .chicha_iframe_vimeo div {
      width: 90%;
      height: 220px; }
    .chicha_iframe_vimeo iframe {
      max-width: 100%;
      max-height: 100%; } }

/* ----------------------------------------- */
/* FIN DEL CSS DE LA PÁGINA PORTAFOLIO */
/* INICIO DEL CSS DE LA PÁGINA CLIENTES */
.chicha_main_clientes {
  display: grid;
  grid-area: area_chicha_main;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "area_main_clientes_titulo" "area_main_clientes_descripcion" "area_main_clientes_subtitle" "area_main_clientes_elements" "area_main_clientes_leyenda";
  justify-content: center;
  align-items: center;
  background-color: #ffffff; }

.chicha_title_page_clientes {
  display: flex;
  flex-direction: column;
  /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000000; }
  .chicha_title_page_clientes h1 {
    color: black;
    /* COLOR */
    font-size: 45px;
    /* TAMAÑO DE FUENTE */ }
  .chicha_title_page_clientes h2 {
    color: black;
    /* COLOR */
    font-size: 20px;
    /* TAMAÑO DE FUENTE */ }
  .chicha_title_page_clientes p {
    color: black;
    /* COLOR */
    font-size: 20px;
    /* TAMAÑO DE FUENTE */
    padding-top: 2rem; }

.chicha_descripcion_page_clientes {
  width: 70%;
  grid-area: area_main_clientes_descripcion;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  text-align: center;
  font-size: 25px;
  padding: 2rem 0rem; }
  .chicha_descripcion_page_clientes p {
    color: black;
    font-size: 20px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%; }

.chicha_subtitle_page_clientes {
  color: black;
  width: 80%;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.chicha_clientes_grilla {
  display: grid;
  grid-area: area_main_clientes_elements;
  grid-template-columns: 18% 18% 18% 18% 18%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas: "cliente_uno cliente_dos cliente_tres cliente_cuatro cliente_cinco" "cliente_seis cliente_siete cliente_ocho cliente_nueve cliente_diez" "cliente_once cliente_doce cliente_trece cliente_catorce cliente_quince" "cliente_dieciseis cliente_diecisiete cliente_dieciocho cliente_diecinueve cliente_veinte";
  justify-content: center;
  align-items: center;
  background-color: #ffffff; }
  .chicha_clientes_grilla .chicha_cliente {
    justify-self: center;
    align-self: center;
    padding: 2.5rem; }
    .chicha_clientes_grilla .chicha_cliente img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%; }

.chicha_subtitle_end_page_clientes {
  width: 80%;
  color: black;
  /* COLOR */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  /* TAMAÑO DE FUENTE */
  padding-top: 2rem;
  padding-bottom: 4rem; }

/* ----------------------------------------- */
/* MEDIA QUERY 600 PX PAGINA CLIENTES */
@media only screen and (max-width: 600px) {
  .chicha_title_page_clientes {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .chicha_descripcion_page_clientes {
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 1rem; }
  .chicha_subtitle_page_clientes {
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 1rem; }
    .chicha_subtitle_page_clientes h3 {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%; }
  .chicha_clientes_grilla {
    grid-template-columns: 45% 45%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-areas: "cliente_uno cliente_dos" "cliente_tres cliente_cuatro" "cliente_cinco cliente_seis "  "cliente_siete cliente_ocho" "cliente_nueve cliente_diez" "cliente_once cliente_doce" "cliente_trece cliente_catorce" "cliente_quince cliente_dieciseis" "cliente_diecisiete cliente_dieciocho" "cliente_diecinueve cliente_veinte"; } }

/* ----------------------------------------- */
/* FIN DEL CSS DE LA PÁGINA CLIENTES */
/* INICIO DEL CSS DE LA PÁGINA CONTÁCTO */
.chicha_main_contacto {
  display: grid;
  grid-area: area_chicha_main;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "area_main_contacto_titulo" "area_main_contacto_datos" "area_main_contacto_subtitle" "area_main_contacto_elements" "area_main_contacto_estamos_aquí" "area_main_contacto_mapa";
  justify-content: center;
  align-items: center;
  background-color: #ffffff; }

.chicha_title_page_contacto {
  width: 70%;
  grid-area: area_main_contacto_titulo;
  display: flex;
  flex-direction: column;
  /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .chicha_title_page_contacto h1 {
    color: black;
    /* COLOR */
    font-size: 45px;
    /* TAMAÑO DE FUENTE */
    padding-bottom: 1rem;
    border-bottom: 1px solid #000000; }
  .chicha_title_page_contacto p {
    color: black;
    /* COLOR */
    font-size: 20px;
    /* TAMAÑO DE FUENTE */
    padding-top: 2rem; }

.chicha_info_page_contacto {
  width: 90%;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  gap: 5rem;
  /* ESPACIADO ENTRE CONTENEDORES */
  padding-top: 1rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid #000000; }
  .chicha_info_page_contacto i {
    padding-right: 10px;
    font-size: 30px;
    /* AJUSTAMOS EL TAMAÑO DE LOS ICONOS DE REDES SOCIALES */ }
  .chicha_info_page_contacto p {
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
    /* PONEMOS NEGRITA A UN PARRAFO */ }
  .chicha_info_page_contacto a {
    color: #000000;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }

.chicha_subtitle_page_contacto {
  width: 70%;
  color: black;
  /* COLOR */
  display: flex;
  flex-direction: column;
  /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  /* TAMAÑO DE FUENTE */
  padding-top: 3rem;
  padding-bottom: 1rem; }
  .chicha_subtitle_page_contacto h3 {
    color: black;
    /* COLOR */
    font-size: 25px;
    /* TAMAÑO DE FUENTE */
    padding-bottom: 1rem;
    border-bottom: 1px solid #000000; }
  .chicha_subtitle_page_contacto p {
    color: black;
    /* COLOR */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    /* TAMAÑO DE FUENTE */
    padding-top: 3rem;
    padding-bottom: 2rem; }

.chicha_form_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  text-align: start;
  gap: 3rem;
  /* ESPACIADO ENTRE CONTENEDORES */
  padding-top: 2rem;
  padding-bottom: 4rem; }
  .chicha_form_container .chicha_form_container_info form {
    line-height: 35px;
    font-weight: bolder; }
    .chicha_form_container .chicha_form_container_info form fieldset {
      padding: 1rem 1rem; }
  .chicha_form_container .chicha_form_container_info .chicha_form_container_elements {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* ESPACIADO ENTRE CONTENEDORES */
    flex-wrap: wrap;
    font-weight: bolder; }
    .chicha_form_container .chicha_form_container_info .chicha_form_container_elements .chicha_form_textbox {
      width: 100%;
      height: 30px;
      padding: 5px;
      font-family: "Montserrat", sans-serif; }
    .chicha_form_container .chicha_form_container_info .chicha_form_container_elements .chicha_form_textbox_comment {
      width: 100%;
      height: 300px;
      padding: 5px;
      font-family: "Montserrat", sans-serif;
      resize: none; }
    .chicha_form_container .chicha_form_container_info .chicha_form_container_elements .chicha_form_box_sex {
      text-align: center; }
      .chicha_form_container .chicha_form_container_info .chicha_form_container_elements .chicha_form_box_sex select {
        font-family: "Montserrat", sans-serif; }
    .chicha_form_container .chicha_form_container_info .chicha_form_container_elements .chicha_form_info_adult {
      text-align: center; }
    .chicha_form_container .chicha_form_container_info .chicha_form_container_elements .chicha_form_info_check {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      gap: 10px;
      /* ESPACIADO ENTRE CONTENEDORES */ }
  .chicha_form_container .chicha_form_text_page_contacto {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
    /* ESPACIADO ENTRE CONTENEDORES */
    padding: 1rem 3rem;
    line-height: 35px; }
    .chicha_form_container .chicha_form_text_page_contacto p {
      font-size: 20px; }
    .chicha_form_container .chicha_form_text_page_contacto a {
      color: #000000; }
    .chicha_form_container .chicha_form_text_page_contacto .chicha_redes_align_page_contacto {
      display: flex;
      flex-direction: column;
      /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
      justify-content: center;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      /* ESPACIADO ENTRE CONTENEDORES */
      font-size: 20px; }
      .chicha_form_container .chicha_form_text_page_contacto .chicha_redes_align_page_contacto a {
        padding: 10px; }

.chicha_form_container_boton {
  width: 100%;
  display: flex; }

.chicha_form_boton {
  width: 100%;
  background-color: #cb2459;
  border: none;
  padding: 12px;
  color: white;
  margin: 1rem;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer; }

.chicha_title_estamos_aqui {
  width: 70%;
  color: black;
  /* COLOR */
  display: flex;
  flex-direction: column;
  /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  /* TAMAÑO DE FUENTE */
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .chicha_title_estamos_aqui h1 {
    padding-bottom: 1rem;
    border-bottom: 1px solid #000000; }
  .chicha_title_estamos_aqui p {
    color: black;
    /* COLOR */
    font-size: 20px;
    /* TAMAÑO DE FUENTE */
    padding-top: 2rem;
    padding-bottom: 1rem; }

.chicha_mapa {
  width: 100%;
  height: 450px;
  position: relative; }
  .chicha_mapa iframe {
    width: 100%;
    height: 450px;
    border: 0px; }

/* ----------------------------------------- 

/* MEDIA QUERY 600 PX PAGINA CONTACTO */
@media only screen and (max-width: 600px) {
  .chicha_title_page_contacto {
    padding-bottom: 1rem; }
    .chicha_title_page_contacto p {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%; }
  .chicha_info_page_contacto {
    flex-direction: column;
    /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
    gap: 2rem;
    /* ESPACIADO ENTRE CONTENEDORES */
    padding-bottom: 3rem; }
  .chicha_subtitle_page_contacto {
    width: 90%; }
  .chicha_form_container {
    width: 100%;
    padding-top: 0rem;
    padding-bottom: 0rem;
    gap: 1rem; }
    .chicha_form_container .chicha_form_container_info .chicha_form_container_elements {
      width: 100%; }
      .chicha_form_container .chicha_form_container_info .chicha_form_container_elements .chicha_form_textbox {
        width: 100%;
        height: 30px; }
      .chicha_form_container .chicha_form_container_info .chicha_form_container_elements .chicha_form_textbox_comment {
        width: 100%;
        height: 300px; }
      .chicha_form_container .chicha_form_container_info .chicha_form_container_elements .chicha_form_box_sex {
        text-align: center; }
        .chicha_form_container .chicha_form_container_info .chicha_form_container_elements .chicha_form_box_sex select {
          font-family: "Montserrat", sans-serif; }
      .chicha_form_container .chicha_form_container_info .chicha_form_container_elements .chicha_form_info_adult {
        text-align: center; }
      .chicha_form_container .chicha_form_container_info .chicha_form_container_elements .chicha_form_info_check {
        display: block; }
    .chicha_form_container .chicha_form_text_page_contacto {
      width: 80%;
      gap: 3rem;
      /* ESPACIADO ENTRE CONTENEDORES */
      padding: 2rem 0rem; }
      .chicha_form_container .chicha_form_text_page_contacto .chicha_redes_align_page_contacto a {
        padding: 20px; }
  .chicha_title_estamos_aqui {
    width: 90%; }
  .chicha_mapa {
    border: 0px; }
    .chicha_mapa iframe {
      width: 100%;
      height: 450px;
      border: 0px; } }

/* ----------------------------------------- */
/* FIN DEL CSS DE LA PÁGINA CONTÁCTO */
/* INICIO DEL CSS DEL FOOTER */
.chicha_footer {
  /* APLICA A TODO EL FOOTER */
  grid-area: area_chicha_footer;
  display: flex;
  /* MOSTRAMOS DE UNA MANERA FLEXIBLE AL CONTENEDOR */
  justify-content: center;
  /* AJUSTAMOS EL VIDEO CON UNIFORMIDAD DE ESPACIADO */
  align-items: center;
  /* ALINEACIÓN CENTRADA DE LOS ELEMENTOS */
  text-align: center;
  /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
  background-color: black;
  /* COLOR DE FONDO */
  padding-top: 1rem;
  border-top: 3px solid #cb2459;
  /* COLOR BORDE SUPERIOR */
  line-height: 30px;
  /* SEPARACION DE LINEAS DE PARRAFOS */
  font-size: medium;
  /* TAMAÑO DE FUENTE */ }

.chicha_logo_bn_footer {
  padding-top: 30px;
  padding-bottom: 15px; }

.chicha_logo_bn_footer img {
  /* APLICA AL TAMAÑO DEL LOGO DEL HEADER */
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 110px; }

.chicha_footer a {
  /* APLICA A LOS LINKS DEL FOOTER */
  color: white;
  /* COLOR DE LOS LINKS DEL FOOTER */ }

.chicha_footer h3 {
  /* APLICA TODOS LOS H3 DEL FOOTER */
  color: white;
  /* COLOR */
  bottom: 0px;
  text-align: center;
  /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
  font-size: large;
  /* TAMAÑO DE FUENTE */
  padding-bottom: 20px; }

.chicha_footer p {
  /* APLICA TODOS LOS p DEL FOOTER */
  color: white;
  /* COLOR */
  text-align: center;
  /* ALINEACIÓN CENTRADA DE LOS TEXTOS */ }

.chicha_contacto {
  /* APLICA A LOS DATOS COLOCADOS EN CONTACTANOS */
  display: block;
  /* MOSTRAMOS EL ELEMENTO EN BLOQUE */
  padding-bottom: 10px; }

.chicha_info_footer {
  /* APLICA A LOS DATOS COLOCADOS EN CONTACTANOS */
  display: flex;
  /* MOSTRAMOS DE UNA MANERA FLEXIBLE AL CONTENEDOR */
  max-width: 800px;
  /* ANCHO MÁXIMO DEL CONTENEDOR */
  justify-content: center;
  /* AJUSTAMOS EL CONTENIDO EN EL CENTRO */
  flex-wrap: wrap;
  /* CON ESTA PROPIEDAD LOS ELEMENTOS SALTAN A LA SIGUIENTE LÍNEA */
  padding-bottom: 0px;
  /* RELLENO INFERIOR */ }

.chicha_info_footer div {
  /* APLICA A LOS DIV COLOCADOS EN CONTACTANOS */
  margin: 5px;
  /* MARGENES DE SEPARACIÓN */
  text-align: center;
  /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
  line-height: 20px;
  /* SEPARACION DE LINEAS DE PARRAFOS */
  padding-bottom: 10px;
  /* RELLENO INFERIOR */
  padding-right: 20px; }

.chicha_info_footer div i {
  padding-right: 7px; }

.chicha_copyright {
  /* APLICA A LOS DATOS COLOCADOS EN EL COPYRIGHT */
  display: flex;
  /* MOSTRAMOS DE UNA MANERA FLEXIBLE AL CONTENEDOR */
  flex-direction: column;
  /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
  align-items: center;
  /* ALINEACIÓN CENTRADA DE LOS ELEMENTOS */
  justify-content: center;
  text-align: center;
  /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
  background-color: black;
  /* COLOR DE FONDO */
  font-size: medium;
  /* TAMAÑO DE FUENTE */ }

.chicha_copyright p {
  /* APLICA TODOS LOS p DEL FOOTER */
  color: white;
  /* COLOR */
  text-align: center;
  /* ALINEACIÓN CENTRADA DE LOS TEXTOS */ }

.chicha_copyright_line::before {
  content: "";
  display: flex;
  align-items: center;
  /* ALINEACIÓN CENTRADA DE LOS ELEMENTOS */
  justify-content: center;
  text-align: center;
  /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
  width: 100%;
  height: 1px;
  background-color: currentColor; }

.chicha_redes {
  /* APLICA A LOS DATOS COLOCADOS EN SÍGUENOS */
  display: flex;
  justify-content: space-around;
  /* AJUSTAMOS EL VIDEO CON IGUALDAD DE ESPACIADO */
  align-items: center;
  text-align: center; }

.chicha_redes_align {
  display: inline;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px; }

.chicha_redes_align a {
  padding: 10px; }

/* FIN DEL CSS DEL FOOTER */
/* ----------------------------------------- */
/* MEDIA QUERY 1200 PX FOOTER) */
@media only screen and (max-width: 1200px) {
  .chicha_footer {
    flex-direction: column;
    /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
    gap: 1rem;
    /* ESPACIADO ENTRE CONTENEDORES */ } }

/* ----------------------------------------- */
/* MEDIA QUERY 580 PX FOOTER) */
@media only screen and (max-width: 580px) {
  .chicha_info_footer {
    flex-direction: column;
    /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */ } }
