/* INICIO DEL CSS DE LA PÁGINA CLIENTES */

.chicha_main_clientes{
	display: grid;
	grid-area: area_chicha_main;
	grid-template-rows: auto auto auto auto auto;
	grid-template-areas: "area_main_clientes_titulo"
						 "area_main_clientes_descripcion"
						 "area_main_clientes_subtitle"
						 "area_main_clientes_elements"
						 "area_main_clientes_leyenda";
	justify-content: center;
	align-items: center;
	background-color:#ffffff;
}

.chicha_title_page_clientes{
	@include chicha_caja(flex, column, center, none );
	padding-top: 3rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #000000; 
	h1{
		color: $color-secundario; /* COLOR */
		font-size: 45px; /* TAMAÑO DE FUENTE */
		font-family: $fuente-titulos;
	}
	
	p{
		color: $color-secundario; /* COLOR */
		font-size: 20px; /* TAMAÑO DE FUENTE */
		font-family: $fuente-titulos;
		margin-bottom: 0rem;
	}
}

.chicha_descripcion_page_clientes{
	@include chicha_caja(flex, row, center, center );
	width: 70%;
	grid-area: area_main_clientes_descripcion;
	flex-wrap: wrap;
	font-size: 25px;
    padding: 2rem 0rem;
	p{
		color: $color-secundario;
		font-size: 20px;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
}

.chicha_subtitle_page_clientes{
	@include chicha_caja(flex, row, center, center );
	color: $color-secundario;
	width: 80%;
	font-size: 20px;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-family: $fuente-titulos;
}

.chicha_clientes_grilla{
	display: grid;
	grid-area: area_main_clientes_elements;
	grid-template-columns: 18% 18% 18% 18% 18%;
	grid-template-rows: 25% 25% 25% 25%;
	grid-template-areas: "cliente_uno cliente_dos cliente_tres cliente_cuatro cliente_cinco"
						 "cliente_seis cliente_siete cliente_ocho cliente_nueve cliente_diez"
						 "cliente_once cliente_doce cliente_trece cliente_catorce cliente_quince"
						 "cliente_dieciseis cliente_diecisiete cliente_dieciocho cliente_diecinueve cliente_veinte";
	justify-content: center;
	align-items: center;
	background-color:#ffffff;
	.chicha_cliente{
		justify-self: center;
		align-self: center;
		padding: 2.5rem;
		&:hover{
			-webkit-transform: scale(1.3);
			transform: scale (1,3);
			transition: all 0.3s;
		}
		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.chicha_subtitle_end_page_clientes{
	@include chicha_caja(flex, row, center, center );
	width: 80%;
	color: $color-secundario; /* COLOR */
	flex-wrap: wrap;
	font-size: 20px; /* TAMAÑO DE FUENTE */
	padding-top: 2rem;
	padding-bottom: 4rem;
}

/* ----------------------------------------- */

/* MEDIA QUERY 1200 PX PAGINA CLIENTES */

@media only screen and (max-width:1200px){

	.chicha_clientes_grilla{
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: 18% 18% 18% 18% 18%;
		grid-template-areas: "cliente_uno cliente_dos cliente_tres cliente_cuatro"
							 "cliente_cinco cliente_seis cliente_siete cliente_ocho" 
							 "cliente_nueve cliente_diez cliente_once cliente_doce"
							 "cliente_trece cliente_catorce cliente_quince cliente_dieciseis"
							 "cliente_diecisiete cliente_dieciocho cliente_diecinueve cliente_veinte";
		.chicha_cliente{
		padding: 3rem;
		}
	}	
}

/* ----------------------------------------- */

/* MEDIA QUERY 992 PX PAGINA CLIENTES */

@media only screen and (max-width:992px){

	.chicha_clientes_grilla{
		.chicha_cliente{
		padding: 2.5rem;
		}
	}	
}

/* ----------------------------------------- */

/* MEDIA QUERY 768 PX PAGINA CLIENTES */

@media only screen and (max-width:768px){

	.chicha_title_page_clientes{
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.chicha_descripcion_page_clientes{
		width: 90%;
		padding-top: 2rem;
		padding-bottom: 1rem;	
	}

	.chicha_subtitle_page_clientes{
		flex-wrap: wrap;
		padding-top: 2rem;
		padding-bottom: 1rem;
		h3{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}

	.chicha_clientes_grilla{
		grid-template-columns: 45% 45%;
		grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
		grid-template-areas: "cliente_uno cliente_dos"
							 "cliente_tres cliente_cuatro"
							 "cliente_cinco cliente_seis " 
							 "cliente_siete cliente_ocho"
							 "cliente_nueve cliente_diez"
							 "cliente_once cliente_doce"
							 "cliente_trece cliente_catorce"
							 "cliente_quince cliente_dieciseis"
							 "cliente_diecisiete cliente_dieciocho"
							 "cliente_diecinueve cliente_veinte";
	}	
}

/* ----------------------------------------- */

/* MEDIA QUERY 400 PX PAGINA CLIENTES */

@media only screen and (max-width:400px){
	
	.chicha_clientes_grilla{
		.chicha_cliente{
		padding: 2rem;
		}
	}	
}

/* ----------------------------------------- */

/* FIN DEL CSS DE LA PÁGINA CLIENTES */