/* INICIO DEL CSS DE LA PÁGINA CONTÁCTO */

.chicha_main_contacto{
	display: grid;
	grid-area: area_chicha_main;
	grid-template-rows: auto auto auto auto auto auto;
	grid-template-areas: "area_main_contacto_titulo"
						 "area_main_contacto_datos"
						 "area_main_contacto_subtitle"
						 "area_main_contacto_elements"
						 "area_main_contacto_estamos_aquí"
						 "area_main_contacto_mapa";
	justify-content: center;
	align-items: center;
	background-color:#ffffff;
}

.chicha_title_page_contacto{
	@include chicha_caja(flex, column, center, center );
	width: 70%;
	grid-area: area_main_contacto_titulo;
	padding-top: 3rem;
	padding-bottom: 3rem;
	h1{
		color: $color-secundario; /* COLOR */
		font-size: 45px; /* TAMAÑO DE FUENTE */
		padding-bottom: 1rem;
		border-bottom: 1px solid #000000;
		font-family:$fuente-titulos;
	}
	p{
		color: $color-secundario; /* COLOR */
		font-size: 20px; /* TAMAÑO DE FUENTE */
		padding-top: 2rem;
	}
}

.chicha_info_page_contacto{
	@include chicha_caja(flex, row, center, center );
    width: 90%;
	gap: 5rem; /* ESPACIADO ENTRE CONTENEDORES */
	padding-top: 1rem;
	padding-bottom: 5rem;
	border-bottom: 1px solid #000000;
	i{ 
		padding-right: 10px;
		font-size: 30px; /* AJUSTAMOS EL TAMAÑO DE LOS ICONOS DE REDES SOCIALES */
	}
	p{
		padding: 1rem;
		font-size: 20px;
		font-weight: bold; /* PONEMOS NEGRITA A UN PARRAFO */
	}
	a{
		color: #000000;
		font-size: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}	
}

.chicha_subtitle_page_contacto{
	@include chicha_caja(flex, column, center, center );
	width: 70%;
	color: $color-secundario; /* COLOR */
	font-size: 20px; /* TAMAÑO DE FUENTE */
	padding-top: 3rem;
	padding-bottom: 1rem;
	h2{
		color: $color-secundario; /* COLOR */
		font-size: 32px; /* TAMAÑO DE FUENTE */
		padding-bottom: 1rem;
		border-bottom: 1px solid #000000;
		font-family: $fuente-titulos;
	}
	p{
		color: $color-secundario; /* COLOR */
		font-size: 20px; /* TAMAÑO DE FUENTE */
		padding-top: 3rem;
		padding-bottom: 2rem;
	}
}

.chicha_form_container{
	@include chicha_caja(flex, row, center, center );
	flex-wrap: wrap;
	text-align: start;
	gap: 3rem; /* ESPACIADO ENTRE CONTENEDORES */
	padding-top: 2rem;
	padding-bottom: 4rem;
	&_info{
		form{
			line-height: 35px;
			font-weight:bolder;
			fieldset{
				padding: 2rem 2rem;
				color: $color-secundario;
				background-color: #0588a3;
				border-radius: 15px;
				legend{
					color: #ffffff;
				}
			}
		}
		.chicha_form_container_elements{
			width: 100%;
			gap: 1rem; /* ESPACIADO ENTRE CONTENEDORES */
			flex-wrap: wrap;
			font-weight:bolder;
			.chicha_form_textbox{
				width: 100%;
				height: 30px;
				padding: 5px;
				font-family: "Montserrat", sans-serif;
			}
			.chicha_form_textbox_comment{
				width: 100%;
				height: 300px;
				padding: 5px;
				font-family: "Montserrat", sans-serif;
				resize: none;
			}
			.chicha_form_box_sex{
				text-align: center;
				select{
					font-family: "Montserrat", sans-serif;
				}
			}
			.chicha_form_info_adult{
				text-align: center;
			}
			.chicha_form_info_check{
				@include chicha_caja(flex, row, center, center );
				gap: 10px; /* ESPACIADO ENTRE CONTENEDORES */
			}
		}		
	}
	.chicha_form_text_page_contacto{
		@include chicha_caja(flex, column, center, center );
		width: 40%;
		gap: 5rem; /* ESPACIADO ENTRE CONTENEDORES */
		padding: 1rem 3rem;
		line-height: 35px;
		p{
			font-size: 20px;
		}
		a{
			color: $color-secundario;	
		}
		.chicha_redes_align_page_contacto{
			@include chicha_caja(flex, column, center, center );
			gap: 2rem; /* ESPACIADO ENTRE CONTENEDORES */
			font-size: 20px;
			font-family: $fuente-titulos;
			a{ 
				padding: 10px;
			}
		}
	}
}

.chicha_form_container_boton{
	width: 100%;
	display: flex;
}

.chicha_form_boton{
	width: 100%;
	background-color: $color-principal;
	border: none;
	padding: 12px;
	color: white;
	margin: 1rem;
	font-size: 15px;
	font-family: "Montserrat", sans-serif;
	cursor: pointer;
}

.chicha_title_estamos_aqui{
	@include chicha_caja(flex, column, center, center );
	width: 70%;
	color: $color-secundario; /* COLOR */
	font-size: 20px; /* TAMAÑO DE FUENTE */
	padding-top: 3rem;
	padding-bottom: 3rem;
	h2{
		padding-bottom: 1rem;
		border-bottom: 1px solid #000000;
		font-family: $fuente-titulos;
	}
	p{
		color: rgb(0, 0, 0); /* COLOR */
		font-size: 20px; /* TAMAÑO DE FUENTE */
		padding-top: 2rem;
		padding-bottom: 1rem;
	}
}

.chicha_mapa{
    width: 100%;
    height: 450px;
	position: relative;
	iframe{
		width: 100%;
		height: 450px;
		border: 0px;
	}	
}

/* ----------------------------------------- 

/* MEDIA QUERY 1200 PX PAGINA CONTACTO */

@media only screen and (max-width:1200px){

	.chicha_info_page_contacto{
		gap: 1rem; /* ESPACIADO ENTRE CONTENEDORES */
	}
}

/* ----------------------------------------- */

/* MEDIA QUERY 992 PX PAGINA CONTACTO */

@media only screen and (max-width:992px){

	.chicha_title_page_contacto {
		padding-bottom: 1rem;
		p{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}

	.chicha_info_page_contacto{
		flex-direction: column; /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
		gap: 2rem; /* ESPACIADO ENTRE CONTENEDORES */
		padding-bottom: 3rem;
	}

	.chicha_form_container{	
		.chicha_form_text_page_contacto {
			width: 60%;
			gap: 2rem;
			padding: 0rem 0rem;
			line-height: 35px;
		}
	}
}

/* ----------------------------------------- */

/* MEDIA QUERY 768 PX PAGINA CONTACTO */

@media only screen and (max-width:768px){

	.chicha_subtitle_page_contacto{
		width: 90%;
	}

	.chicha_form_container{
		width: 100%;
		padding-top: 0rem;
		padding-bottom: 0rem;
		gap: 1rem;
		.chicha_form_container_info{
			.chicha_form_container_elements{
				width: 100%;
				.chicha_form_textbox{
					width: 100%;
					height: 30px;
				}
				.chicha_form_textbox_comment{
					width: 100%;
					height: 300px;
				}
				.chicha_form_box_sex{
					text-align: center;
					select{
						font-family: "Montserrat", sans-serif;
					}
				}
				.chicha_form_info_adult{
					text-align: center;
				}
				.chicha_form_info_check{
					display: block;
				}
			}		
		}
		.chicha_form_text_page_contacto{
			width: 80%;
			gap: 3rem; /* ESPACIADO ENTRE CONTENEDORES */
			padding: 2rem 0rem;
			.chicha_redes_align_page_contacto{
				a{ 
					padding: 20px;
				}
			}
		}
	}

	.chicha_title_estamos_aqui{
		width: 90%;
	}

	.chicha_mapa{
		border: 0px;
		iframe{
			width: 100%;
			height: 450px;
			border: 0px;
		}
	}
}

/* ----------------------------------------- */

/* MEDIA QUERY 576 PX PAGINA CONTACTO */

@media only screen and (max-width:576px){

	.chicha_form_container{
		&_info{
			form{
				fieldset{
					padding: 2rem 1rem;
				}
			}
		}
	}

	.chicha_subtitle_page_contacto {
		padding-top: 1rem;
	}

	.chicha_info_page_contacto{
		i{ 
			font-size: 20px; /* AJUSTAMOS EL TAMAÑO DE LOS ICONOS DE REDES SOCIALES */
		}
		p{
			font-size: 18px;
		}
		a{
			font-size: 18px;
		}	
	}
	
}

/* ----------------------------------------- */

/* FIN DEL CSS DE LA PÁGINA CONTÁCTO */