/* INICIO DEL CSS DEL FOOTER */

.chicha_footer{ /* APLICA A TODO EL FOOTER */
	grid-area: area_chicha_footer;
	display: flex; /* MOSTRAMOS DE UNA MANERA FLEXIBLE AL CONTENEDOR */
	justify-content: center; /* AJUSTAMOS EL VIDEO CON UNIFORMIDAD DE ESPACIADO */
	align-items: center; /* ALINEACIÓN CENTRADA DE LOS ELEMENTOS */
	text-align: center; /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
	background-color: black; /* COLOR DE FONDO */
	padding-top: 1rem;
	border-top: 3px solid #cb2459; /* COLOR BORDE SUPERIOR */
	line-height: 30px; /* SEPARACION DE LINEAS DE PARRAFOS */
	font-size: medium; /* TAMAÑO DE FUENTE */	
}

.chicha_logo_bn_footer{
	padding-top: 30px;
	padding-bottom: 15px;
}

.chicha_logo_bn_footer img{	/* APLICA AL TAMAÑO DEL LOGO DEL HEADER */
	width: auto;
	height: auto;
	max-width: 250px;
	max-height: 110px;
}

.chicha_footer a{ /* APLICA A LOS LINKS DEL FOOTER */
	color: white; /* COLOR DE LOS LINKS DEL FOOTER */
}

.chicha_footer h3{ /* APLICA TODOS LOS H3 DEL FOOTER */
	color: white; /* COLOR */
	bottom: 0px;
	text-align: center; /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
	font-size: large; /* TAMAÑO DE FUENTE */
	padding-bottom: 20px /* RELLENO INFERIOR */
}

.chicha_footer p{ /* APLICA TODOS LOS p DEL FOOTER */
	color: white; /* COLOR */
	text-align: center; /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
}

.chicha_contacto{ /* APLICA A LOS DATOS COLOCADOS EN CONTACTANOS */
	display: block; /* MOSTRAMOS EL ELEMENTO EN BLOQUE */
	padding-bottom: 10px;

}

.chicha_info_footer{ /* APLICA A LOS DATOS COLOCADOS EN CONTACTANOS */
	display: flex; /* MOSTRAMOS DE UNA MANERA FLEXIBLE AL CONTENEDOR */
	max-width: 800px; /* ANCHO MÁXIMO DEL CONTENEDOR */
	justify-content: center; /* AJUSTAMOS EL CONTENIDO EN EL CENTRO */
	flex-wrap: wrap; /* CON ESTA PROPIEDAD LOS ELEMENTOS SALTAN A LA SIGUIENTE LÍNEA */
	padding-bottom: 0px; /* RELLENO INFERIOR */
}

.chicha_info_footer div{ /* APLICA A LOS DIV COLOCADOS EN CONTACTANOS */	
	margin: 5px; /* MARGENES DE SEPARACIÓN */
	text-align: center; /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
	line-height: 20px; /* SEPARACION DE LINEAS DE PARRAFOS */
	padding-bottom: 10px; /* RELLENO INFERIOR */
	padding-right: 20px;
}

.chicha_info_footer div i{ 
	padding-right: 7px;
}

.chicha_copyright{ /* APLICA A LOS DATOS COLOCADOS EN EL COPYRIGHT */
	display: flex; /* MOSTRAMOS DE UNA MANERA FLEXIBLE AL CONTENEDOR */
	flex-direction: column; /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
	align-items: center; /* ALINEACIÓN CENTRADA DE LOS ELEMENTOS */
	justify-content: center;
	text-align: center; /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
	background-color: black; /* COLOR DE FONDO */
	font-size: medium; /* TAMAÑO DE FUENTE */
}

.chicha_copyright p{ /* APLICA TODOS LOS p DEL FOOTER */
	color: white; /* COLOR */
	text-align: center; /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
}

.chicha_copyright_line::before{
	content: "";
	display: flex;
	align-items: center; /* ALINEACIÓN CENTRADA DE LOS ELEMENTOS */
	justify-content: center;
	text-align: center; /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
	width: 100%;
	height: 1px;
	background-color: currentColor;
}

.chicha_redes{ /* APLICA A LOS DATOS COLOCADOS EN SÍGUENOS */
	display: flex;
	justify-content: space-around; /* AJUSTAMOS EL VIDEO CON IGUALDAD DE ESPACIADO */
	align-items: center;
	text-align: center;
}

.chicha_redes_align{ 
	display: inline;
	justify-content: space-around;
	justify-content: center;
	align-items: center;
	padding-bottom: 25px;
}

.chicha_redes_align a{ 
	padding: 10px;
}

/* FIN DEL CSS DEL FOOTER */

/* ----------------------------------------- */

/* MEDIA QUERY 1200 PX FOOTER) */
@media only screen and (max-width:1200px){
	
	.chicha_footer{
		flex-direction: column; /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
		gap: 1rem; /* ESPACIADO ENTRE CONTENEDORES */
	}
}

/* ----------------------------------------- */

/* MEDIA QUERY 580 PX FOOTER) */
@media only screen and (max-width:580px){
	
	.chicha_info_footer{
		flex-direction: column; /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
	}
}
