/* CSS LA CHICHA FILMS - JERSSON ANASTACIO */

/* ----------------------------------------- */

/* IMPORTAMOS LAS FUENTES DE GOOGLE */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

/* DESPLAZAMIENTO DEL SCROLL SUAVE */
html{
	scroll-behavior: smooth;
}

/* ELIMINAMOS LOS MÁRGENES DEL NAVEGADOR */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* APLICAMOS A TODO EL BODY LA FUENTE */
body {
	font-family: $fuente-secundaria;
	min-height: 100vh;
}
/* EL FOOTER ESTARÁ SIEMPRE ABAJO */
footer {
	margin-top: auto;
}
/* BORRAMOS EL SUBRAYADO DE LOS LINKS */
a{
	text-decoration: none;
	color: #ffffff;
}
/* GRILLA DEL BODY */
#chicha_grilla_body {
	display: grid; /* MOSTRAMOS UNA GRILLA */
	grid-template-columns: 100%; /* 1 SOLA COLUMNA QUE ABARCA EL 100% DEL BODY */
	grid-template-rows: auto 1fr auto; /* DEFINIMOS LAS FILAS: HACEMOS QUE EL HEADER SE POSICIONE AUTOMATICAMENTE ARRIBA DEL BODY, EL MAIN TIENE 1 FRACCION DEL BODY, Y EL FOOTER SE POSICIONARÁ AUTOMATICAMENTE AL FINAL DEL BODY */
	grid-template-areas: "area_chicha_header"
						 "area_chicha_main"
						 "area_chicha_footer";
}

/* BOTON PARA IR ARRIBA DE LA PAGINA */
.chicha_boton_arriba {
	position: fixed; /* POSICION FIJA */
	width: 40px; /* ANCHO DEL ELEMENTO */
	height: 40px; /* ALTO DEL ELEMENTO */
	bottom: 30px; /* POSICIÓN DE ABAJO */
	right: 50px; /* POSICIÓN DE DERECHA */
	text-align: center; /* ALINEACION DE TEXTO CENTRADA */
	line-height: 40px; /* SEPARACION DE LINEAS DE PARRAFOS */
	font-size: 20px; /* TAMAÑO DE FUENTE */
	border-radius: 50px; /* REDONDEZ DE ESQUINAS */
	z-index: 11; /* ATRIBUTO PARA QUE ESTE POR ENCIMA DE OTROS ELEMENTOS */
	color: #ffffff; /* COLOR */
	background-color: $color-principal; /* COLOR DE FONDO */
	&:hover{ /* PSEUDO-CLASE QUE MUESTRA ALGUN EVENTO CUANDO SE POSA EL RATON SOBRE EL ELEMENTO */
		background-color: #198754;
		color: #ffffff;
		transition: all 0.5s; /* SEGUNDOS DE LA TRANSICION */
	}
}

/* BOTON PARA IR ARRIBA DE LA PAGINA EN CELULARES */
@media only screen and (max-width:768px){
	.chicha_boton_arriba {
		bottom: 20px;
		right: 20px;
	}
}

/* CLASE EXTEND PARA CENTRAR */
.chicha_center{
	justify-content:center; /* AJUSTAMOS EL CONTENIDO CENTRADO */
	align-items: center; /* ALINEACIÓN DE ELEMENTOS, CENTRADA */
	align-self: center; /* ALINEACIÓN DE HIJOS, CENTRADA */
	justify-self: center; /* AJUSTAMOS EL CONTENIDO DE LOS HIJOS CENTRADO */
	text-align: center; /* ALINEACIÓN CENTRADA DE LOS TEXTOS */
}


/* CLASE MIXIN PARA LAS CAJAS

$desplegar: espera el valor flex para una caja flexible
$desplegar_direccion: espera column para vertical o row para horizontal
$justificacion_contenido: espera valores como start, end, center, space-around, space-betwen, space-evenly
$justificacion_hijo: espera valores como start, end, center, stretch

*/

@mixin chicha_caja($desplegar , $desplegar_direccion , $justificacion_contenido , $justificacion_hijo){
	display: $desplegar;
	flex-direction: $desplegar_direccion;
	justify-content: $justificacion_contenido;
	justify-self: $justificacion_hijo;
	align-items: center;
	text-align: center;
}










