/* INICIO DEL CSS DE LA PÁGINA NOSOTROS */

.chicha_main_nosotros{
	display: grid;
	grid-area: area_chicha_main;
	grid-template-rows: auto auto auto auto auto;
	grid-template-areas: "area_main_nosotros_logo"
						 "area_main_nosotros_titulo"
						 "area_main_nosotros_descripcion"
						 "area_main_nosotros_titulo_equipo"
						 "area_main_nosotros_equipo";
	justify-content: center;
	align-items: center;
	background-color:#ffffff;
}

.chicha_logo_pagina_nosotros{	
	@include chicha_caja(flex, column , center , center );
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #000000;
	.chicha_logo_color_nosotros{ 
		width: 100%;
		img{ 
			width: auto;
			height: auto;
			max-width: 40%;
			max-height: 40%;
		}
	}
	.chicha_subtitulo{ /* APLICA AL CONTENEDOR DE LA CLASE CHICHA_SUBTITULO */
		@include chicha_caja(flex, row , center, center );	
		color: $color-secundario; /* COLOR */
		font-size: 20px; /* TAMAÑO DE FUENTE */	
		padding-top: 1rem;
		padding-bottom: 1rem;
		gap: 10px; /* ESPACIADO ENTRE CONTENEDORES */
		img{ /* APLICA A LAS IMAGENES DE ESTRELLAS DEL SUBTITULO */
			width: auto;
			height: auto;
			max-width: 25px;
			max-height: 25px;
		}
		h2{ /* APLICA A LAS IMAGENES DE ESTRELLAS DEL SUBTITULO */
			margin-bottom: 0rem;
		}
	}
}

.chicha_quienes_somos{
	@include chicha_caja(flex, row , center, center );
	padding-top: 3rem;
	padding-bottom: 3rem;
	font-family: $fuente-titulos;
	h1{
		font-size: 40px;
		font-weight: bolder;
	}	
}

.chicha_info_page_nosotros {
	@include chicha_caja(flex, row , space-around, center );
	width: 100%;
    background-color: rgb(255, 255, 255);
    gap: 3rem;
    padding: 2rem 2rem;
	&_descripcion{
		grid-area: area_main_nosotros_descripcion;
		width: 100%;
		padding: 0rem 1rem;
		p{ 
			font-size: calc(0.5px + 1vw);
			line-height: calc(15px + 1vw);
		}
	}
	.chicha_info_main_carrusel_nosotros{
		@include chicha_caja(flex, row , center, center );		
		width: 100%;
		img{ 
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.chicha_nuestro_equipo{
	@include chicha_caja(flex, row , center, center );	
	width: 70%;
	font-size: 25px;
	padding-top: 3rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #000000;
	font-family: $fuente-titulos;
	h2{
		font-weight: bold;
	}
}

.chicha_avatar_container{
	display: grid;
	grid-area: area_main_nosotros_equipo;
	grid-template-columns: 20% 20% 20% 20%;
	grid-template-areas: "cargo1 cargo2 cargo3 cargo4"
						 "cargo5 cargo6 cargo7 cargo8";
	justify-content: center;
	gap: 3rem; /* ESPACIADO ENTRE CONTENEDORES */
	padding: 4rem 0rem;
	line-height: 25px;
	.card{
		width: auto;
		max-width: 100%;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
		justify-self: center;
		padding: 0rem 1rem;
		&:hover{
			color:white;
			transform: scale (1,1);
			transition: all 0.5s;
			background-color: $color-principal;			
		}		
		.card-img-top {
			padding-top: 1rem;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}		
	}	
 }
 
.card-title{
	font-size: calc(10px + .9vw);
	font-weight: bold;
	
}

/* ----------------------------------------- */

/* MEDIA QUERY 1400 PX PAGINA NOSOTROS */

@media only screen and (max-width:1400px){

	.chicha_info_page_nosotros {
		&_descripcion{
			p{ 
				font-size: calc(5px + 1vw);
				line-height: calc(10px + 1vw);
			}
		}
	}

	.chicha_avatar_container{
		.card{
			padding: 0rem 0rem;	
		}	
	 }
}

/* ----------------------------------------- */

/* MEDIA QUERY 991 PX PAGINA NOSOTROS */

@media only screen and (max-width:991px){

	.chicha_logo_pagina_nosotros{	
		.chicha_logo_color_nosotros{ 
			img{ 
				max-width: 50%;
				max-height: 50%;
			}
		}	
	}

	.chicha_quienes_somos{
		padding-bottom: 1rem; 
	}

	.chicha_info_page_nosotros{
		width: 100%;
		flex-direction: column; /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
		gap: 1rem; /* ESPACIADO ENTRE CONTENEDORES */
		padding: 1rem 0rem;
		&_descripcion{
			p{ 
				font-size: 18px;
				line-height: 25px;
			}
		}
	}
}

/* ----------------------------------------- */

/* MEDIA QUERY 768 PX PAGINA NOSOTROS */

@media only screen and (max-width:768px){
	
	.chicha_logo_pagina_nosotros{	
		.chicha_logo_color_nosotros{ 
			img{ 
				max-width: 60%;
				max-height: 60%;
			}
		}
		.chicha_subtitulo{ 
			img{ 
				max-width: 20px;
				max-height: 20px;
			}
		}	
	}

	.chicha_quienes_somos{
		h1{
			font-size: 35px;
		}	
	}

    .chicha_avatar_container{
		width: auto;
        height: auto;
        grid-template-columns: 40% 40%;
        grid-template-areas: "cargo1 cargo2"
                             "cargo3 cargo4"
                             "cargo5 cargo6"
							 "cargo7 cargo8";
		justify-self: center;
        align-content: center;
		padding: 3rem 0rem;
		gap: 2rem 2rem; /* ESPACIADO ENTRE CONTENEDORES */
		.card{
			padding: 0.5rem 0.5rem;
			p{
				font-size: 15px;
				line-height: 15px;
			}
		}	
    }

	.card-title{
		font-size: calc(15px + .9vw);
	}

	.chicha_info_page_nosotros{
		&_descripcion{
			width: 90%;
		}
	}
	.chicha_info_page_nosotros {
		.chicha_info_main_carrusel_nosotros{
			width: 90%;
			height: 90%;
		}
	}
}

/* ----------------------------------------- */

/* MEDIA QUERY 576 PX PAGINA NOSOTROS */

@media only screen and (max-width:576px){
	
	.chicha_logo_pagina_nosotros{	
		.chicha_logo_color_nosotros{ 
			img{ 
				max-width: 65%;
				max-height: 65%;
			}
		}	
	}

	.card-title{
		font-size: calc(13px + .9vw);
	}
}

/* ----------------------------------------- */

/* FIN DEL CSS DE LA PÁGINA NOSOTROS */