/* INICIO DEL CSS DE LA PÁGINA SERVICIOS */

.chicha_main_servicios{
	display: grid;
	grid-area: area_chicha_main;
	grid-template-rows: auto auto auto;
	grid-template-areas: "area_main_servicios_titulo"
						 "area_main_servicios_descripcion"
						 "area_main_servicios_elements";
	justify-content: center;
	align-items: center;
	background-color:#ffffff;
}

.chicha_title_page_servicios{
	@include chicha_caja(flex, column , center, none );	
	padding-top: 3rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #000000;
	h1{
		color: $color-secundario; /* COLOR */
		font-size: 45px; /* TAMAÑO DE FUENTE */
		font-family: $fuente-titulos;
	}
	
	p{
		color: $color-secundario; /* COLOR */
		font-size: 20px; /* TAMAÑO DE FUENTE */
		font-family: $fuente-titulos;
		margin-bottom: 0rem;
	}
}

.chicha_subtitle_page_servicios{
	@include chicha_caja(flex, row, center, center );	
	width: 70%;
	grid-area: area_main_servicios_descripcion;
	flex-wrap: wrap;
	font-size: 25px;
    padding: 2rem 0rem;
	p{
		color: $color-secundario;
		font-size: 20px;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
}

.chicha_info_page_servicios_container{
	@include chicha_caja(flex, row, space-evenly, center );	
    width: 90%;
    flex-wrap: wrap;
	padding: 2rem 0rem;
	.chicha_info_page_servicios{
		@include chicha_caja(flex, row, center, center );	
		gap: 3rem; /* ESPACIADO ENTRE CONTENEDORES */
		padding-top: 3rem;
		padding-bottom: 3rem;
		h2{
			padding-bottom: 15px;
			font-family: $fuente-titulos;
		}		
		&_name{
			max-width: 50%;
			max-height: 50%;
			p{
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
		.chicha_video_services{ 
			width: 70%;
			height: 70%;
			video{ 
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
}

/* ----------------------------------------- */
/* ----------------------------------------- */

/* MEDIA QUERY 991 PX PAGINA NOSOTROS */

@media only screen and (max-width:991px){

	.chicha_info_page_servicios_container{
		width: 100%;
	}
}

/* ----------------------------------------- */

/* MEDIA QUERY 768 PX PAGINA NOSOTROS */

@media only screen and (max-width:768px){
	
	.chicha_info_page_servicios_container{
		.chicha_info_page_servicios{
			flex-direction: column; /* LA DIRECCIÓN DEL FLEX ESTA EN VERTICAL */
			flex-wrap: wrap;
			gap: 1rem; /* ESPACIADO ENTRE CONTENEDORES */
			padding: 1rem;		
			&_name{
				max-width: 100%;
				max-height: 100%;
			}
			.chicha_video_services{ 
				width: 100%;
				height: 100%;
			}
		}
	}
}

/* ----------------------------------------- */

/* MEDIA QUERY 576 PX PAGINA SERVICIOS */

@media only screen and (max-width:576px){

	.chicha_info_page_servicios_container{
		width: 95%;
	}

}

/* ----------------------------------------- */

/* FIN DEL CSS DE LA PÁGINA SERVICIOS */